asciitree==0.3.3
cached-property==1.5.2
click==7.1.2
coloredlogs==15.0
cyvcf2==0.30.4
fasteners==0.16
fastphase>=1.2
h5py==3.2.1
humanfriendly==9.1
numba==0.53.1
numcodecs==0.7.3
numpy==1.20.2
scipy==1.6.2
six==1.15.0
zarr==2.7.0
